.loadmore
  +respond-to($breakpoint-medium)
    width: 100%


  border: 1px grey solid
  border-radius: 20px
  font:
    size: 1.5em
    weight: 600
  padding: 10px
  outline: none
  width: 300px

  &:active,
  &:hover
    color: white

  &:active
    background-color: #444444
    outline: none

  &:hover
    background-color: grey
