/* ADVERTISEMENT COMPONENT STYLES - COMPONENTS/ADVERTISEMENT */

.advertisement
  +flex(column, center, center)

  margin: px-to-em(16) 0

  > div
    background-color: lightgrey

.ad-desktop
  +respond-to($breakpoint-medium)
    display: none !important

.ad-mobile
  display: none

  +respond-to($breakpoint-medium)
    display: flex !important
