/* ARTICLE BLOCK COMPONENT STYLES - COMPONENTS/ARTICLE */

.article-block
  +respond-to($breakpoint-small)
    figure
      height: px-to-em(325px)
      min-height: px-to-em(325px)

    figcaption
      background-color: rgba($dark, 0.95)
      border-top: 2px solid white

      > .container
        .article-block-title
          font-size: px-to-em(14)

        .article-block-author,
        .article-block-published
          font-size: px-to-em(13)

        .article-block-author
          color: #e83950

        .article-block-published
          color: $light


  margin: 0
  position: relative
  overflow: hidden

  > a,
  > figcaption
    width: 100%

  > a
    height: 100%

  > figcaption
    +respond-to($breakpoint-large)
      height: 37.5%


    bottom: 0
    height: 32.5%
    position: absolute
    z-index: 2

    > .container
      +flex(column, flex-start, center)

      padding: 1em 0

      > a
        color: $white
        font-weight: 600

  &.sponsored
    > figcaption
      @extend %article-banner-sponsored

.article-block-image
  object-fit: cover
  width: 100%
  height: 100%
  background-color: $accent-med

.article-block-title
  color: $white
  font:
    size: px-to-em(16)
    weight: 700

.article-info
  +flex(row, center, flex-start)

  padding-top: 0.125em
  width: 100%

  p
    margin: 0

.article-block-author,
.article-block-published
  font-size: px-to-em(14)

.article-block-author
  font-weight: 600 !important
  margin: 0 map-get($rows_config, gutter) 0 0
  text-transform: capitalize

.article-block-published
  margin: 0

%article-banner-sponsored
  background-color: rgba($dark, 0.95)
  border-top: 2px solid gold

  > .container
    .article-block-author
      color: yellow

    .article-block-published
      color: $light

.article-text-block
  width: $max-width
  display: flex
  flex-direction: column
  justify-content: center

  > .article-block-title
    color: black

    &:hover
      color: $accent-dark

  > .article-info
    > .article-block-published
      color: grey

  border-bottom: px-to-em(0.5px) solid lightgrey
  margin-top: px-to-em(20px)
  padding-bottom: px-to-em(20px)
