#banner-article.container
  background-color: #E51D37
  color: white
  font-weight: bold
  font-size: 1.5em
  padding: px-to-em(15) px-to-em(10)
  margin-top: px-to-em(20)
  +respond-to($breakpoint-schmedium)
    display: none
