////
/// Takeover styles
/// @group atoms-takeover
////

#takeover
  > button
    position: absolute
    top: 1px
    right: 1px
    background-color: white
    color: #84e4ff
    padding: 0.2em
    width: 20px
    height: 20px
    display: flex
    justify-content: center

  width: 100%
  transition: opacity 0.5s ease-out
  overflow-x: hidden

#takeover img
  width: 100%

// #takeover-desktop
//     +respond-to(schmedium)
//         display: none

// #takeover-mobile
//     display: none
//     +respond-to(schmedium)
//         display: block
