/* GENERAL STYLES - BASE/COMMON */
* {
  transition: ease-in-out 0.375s ease 0;
  font-family: "IBM Plex Sans", Helvetica, Helvetica Neue, Open Sans, Arial, sans-serif; }

*,
html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth; }

::-webkit-scrollbar {
  display: none; }

html,
body {
  color: black;
  margin: 0; }

a:hover, a:active, a:focus,
button:hover,
button:active,
button:focus {
  cursor: pointer; }

a {
  color: #e51d37;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #265ea7; }

button,
input {
  border: none;
  outline: none;
  padding: 0; }

button {
  background-color: transparent; }

.preload {
  opacity: 0; }

.postload {
  opacity: 1;
  transition: opacity 0.5s; }

.page {
  margin-bottom: 30px; }
  .page hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; }

/* FONTS - BASE/FONTS */
@font-face {
  font-family: 'dbkFont';
  src: url("/static/fonts/dbkFont.ttf") format("truetype"); }

/* HELPER CLASSES - BASE/HELPERS */
.major-articles-grid > figure:first-of-type > figcaption, .major-articles-grid > figure:last-of-type > figcaption, .related-articles-list > figure:first-of-type > figcaption, .related-articles-list > figure:last-of-type > figcaption, .minor-articles-grid > figure figcaption {
  background-color: rgba(0, 0, 0, 0.75); }
  .major-articles-grid > figure:first-of-type > figcaption > .container .article-block-author, .major-articles-grid > figure:last-of-type > figcaption > .container .article-block-author, .related-articles-list > figure:first-of-type > figcaption > .container .article-block-author, .related-articles-list > figure:last-of-type > figcaption > .container .article-block-author, .minor-articles-grid > figure figcaption > .container .article-block-author {
    color: #e51d37; }
  .major-articles-grid > figure:first-of-type > figcaption > .container .article-block-published, .major-articles-grid > figure:last-of-type > figcaption > .container .article-block-published, .related-articles-list > figure:first-of-type > figcaption > .container .article-block-published, .related-articles-list > figure:last-of-type > figcaption > .container .article-block-published, .minor-articles-grid > figure figcaption > .container .article-block-published {
    color: #f9fafc; }

.major-articles-grid > figure:nth-of-type(2) > figcaption, .major-articles-grid > figure:nth-of-type(3) > figcaption, .related-articles-list > figure:nth-of-type(2) > figcaption {
  background-color: rgba(229, 29, 55, 0.875); }
  .major-articles-grid > figure:nth-of-type(2) > figcaption > .container .article-block-author, .major-articles-grid > figure:nth-of-type(3) > figcaption > .container .article-block-author, .related-articles-list > figure:nth-of-type(2) > figcaption > .container .article-block-author {
    color: #f9fafc; }

.major-articles-grid {
  display: grid;
  grid-gap: 0.53125em 0.53125em;
  grid-template-columns: repeat(12, 5.3125em);
  grid-template-rows: repeat(23, 2.65625em);
  min-height: 0;
  min-width: 0; }
  .major-articles-grid > figure:first-of-type {
    grid-column-end: span 8;
    grid-column-start: 1;
    grid-row-end: span 11;
    grid-row-start: 1;
    min-width: 0; }
  .major-articles-grid > figure:nth-of-type(2) {
    grid-column-end: span 5;
    grid-column-start: 9;
    grid-row-end: span 11;
    grid-row-start: 1;
    min-width: 0; }
  .major-articles-grid > figure:nth-of-type(3) {
    grid-column-end: span 5;
    grid-column-start: 1;
    grid-row-end: span 11;
    grid-row-start: 12;
    min-width: 0; }
  .major-articles-grid > figure:last-of-type {
    grid-column-end: span 8;
    grid-column-start: 6;
    grid-row-end: span 11;
    grid-row-start: 12;
    min-width: 0; }

.related-articles-list {
  display: flex; }
  @media all and (max-width: 61.25em) {
    .related-articles-list {
      flex-direction: column; } }
  .related-articles-list > figure {
    width: 500px;
    height: 300px;
    margin-right: 10px; }
    @media all and (max-width: 61.25em) {
      .related-articles-list > figure {
        margin-bottom: 10px; } }
    @media all and (max-width: 30em) {
      .related-articles-list > figure {
        width: 100%; } }
  .related-articles-list > figure > figcaption {
    height: 40%; }
    .related-articles-list > figure > figcaption > .container > a {
      font-size: 1em; }

.minor-articles-grid {
  display: grid;
  grid-gap: 0.53125em 0.53125em;
  grid-template-columns: repeat(12, 5.3125em);
  grid-template-rows: repeat(10, 2.65625em);
  min-height: 0;
  min-width: 0; }
  .minor-articles-grid > figure {
    grid-column-end: span 10;
    grid-column-start: 1;
    grid-row-end: span 10;
    grid-row-start: 1;
    min-width: 0; }

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start; }

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 87.5%;
  width: 100%; }

.container-narrow {
  height: 100%;
  margin: 0 auto;
  width: 1200px;
  max-width: 87.5%; }

.flex {
  display: flex; }

.left-rail {
  width: 70%; }
  @media all and (max-width: 61.25em) {
    .left-rail {
      width: 100%; } }

.right-rail {
  width: 30%;
  margin-left: 100px;
  align-items: center; }
  @media all and (max-width: 61.25em) {
    .right-rail {
      display: none; } }

.disappear {
  height: 0 !important;
  opacity: 0 !important;
  padding: 0 !important;
  width: 0 !important; }

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start; }
  @media all and (max-width: 48em) {
    .row {
      flex-direction: column; } }

.scrolled {
  position: fixed;
  z-index: 5; }

/* GROUP ARTICLES STYLES - LAYOUT/ARTICLES */
.articles {
  width: 100%; }

/* FOOTER STYLES - LAYOUT/FOOTER */
footer {
  background-color: #edf1f6;
  font-size: 0.875em;
  margin-top: 2.65625em;
  padding: 1.5em 0; }
  footer .categories,
  footer .stay-connected-copyright {
    justify-content: space-between; }
  footer .footer-column {
    line-height: 1.25em; }
    @media all and (max-width: 48em) {
      footer .footer-column {
        line-height: 1.375em;
        margin-bottom: 1em; } }
  footer .nav-header-link,
  footer .title-link {
    color: #e51d37;
    font-weight: 700; }
  footer a {
    color: black; }
    footer a:hover, footer a:active, footer a:focus {
      color: #265ea7; }
  footer address {
    font-style: normal; }

.categories {
  border-bottom: 0.01562em solid rgba(151, 151, 151, 0.5);
  padding-bottom: 2.65625em; }

.footer-title {
  font-size: 1.0625em;
  font-weight: 700;
  height: 0;
  opacity: 0; }
  @media all and (max-width: 48em) {
    .footer-title {
      height: auto;
      opacity: 1;
      margin: 0 0 0.5em 0; } }

.sub-links {
  margin: 0.25em 0; }
  .sub-links li > a:hover, .sub-links li > a:active, .sub-links li > a:focus {
    color: #265ea7; }

.contact {
  padding-top: 2.65625em; }

.contact-phone:not(:last-of-type) {
  margin: 0 0 0.5em; }

.contact-phone span:first-of-type {
  font-weight: 700; }

.stay-connected-copyright {
  margin-top: 1em; }

.stay-connected {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start; }
  @media all and (max-width: 48em) {
    .stay-connected {
      flex-direction: column;
      align-items: stretch; } }
  .stay-connected p,
  .stay-connected .nav-link:not(:last-of-type) {
    margin: 0 0.5em 0 0; }
  @media all and (max-width: 48em) {
    .stay-connected p,
    .stay-connected .nav-link {
      margin: 0; } }
  .stay-connected p {
    font-weight: 700; }

.copyright {
  color: black;
  font-weight: 700; }
  @media all and (max-width: 48em) {
    .copyright {
      margin-top: 1em; } }
  .copyright:hover {
    font-weight: 700; }

/* HEADER STYLES - LAYOUT/HEADER */
header {
  padding-bottom: 2.65625em;
  width: 100vw;
  display: none; }
  header > .container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2.65625em 0 1.25em; }
    @media all and (max-width: 48em) {
      header > .container {
        padding: 0; } }
    header > .container > a {
      width: 17.5%; }
      header > .container > a > img {
        width: 100%; }

header.pad-bottom {
  margin-bottom: 56px; }
  @media all and (max-width: 48em) {
    header.pad-bottom {
      margin-bottom: 75px; } }

/* NAVIGATION STYLES - LAYOUT/NAVIGATION */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  border-bottom: 0.01562em solid rgba(151, 151, 151, 0.5);
  border-top: 0.01562em solid rgba(151, 151, 151, 0.5);
  padding: 0.75em 0;
  background-color: white;
  transition: background-color .5s linear; }
  nav > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }

#menu-btn,
.navigation-links > a,
.navigation-links > button:not(:last-of-type) {
  margin: 0 0.5625em 0 0; }
  @media all and (max-width: 61.25em) {
    #menu-btn,
    .navigation-links > a,
    .navigation-links > button:not(:last-of-type) {
      margin: 0 0.46875em 0 0; } }

#menu-btn {
  font-size: 1.375em; }

.navigation-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }
  .navigation-links > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
    .navigation-links > div > a {
      color: black !important;
      font-family: dbkFont;
      font-weight: 500 !important;
      font-size: 2.1875em; }
  .navigation-links > a,
  .navigation-links > button {
    font-size: 0.90625em;
    text-transform: uppercase; }
    @media all and (max-width: 75em) {
      .navigation-links > a,
      .navigation-links > button {
        font-size: 0.8125em !important; } }
    @media all and (max-width: 61.25em) {
      .navigation-links > a,
      .navigation-links > button {
        font-size: 0.6875em !important; } }
  .navigation-links > a {
    color: black;
    font-size: 0.90625em;
    font-weight: 400; }
    .navigation-links > a:hover, .navigation-links > a:active, .navigation-links > a:focus {
      color: #265ea7; }
  .navigation-links > .special-nav {
    color: #e51d37;
    font-weight: 600;
    padding: 0; }
    .navigation-links > .special-nav:hover, .navigation-links > .special-nav:active, .navigation-links > .special-nav:focus {
      color: #265ea7; }
    .navigation-links > .special-nav:first-of-type {
      margin: 0 0.9375em !important; }

.navigation-links-social > a {
  color: #dce4ee;
  font-size: 1.625em;
  margin-left: 0.5625em; }
  .navigation-links-social > a:hover, .navigation-links-social > a:active, .navigation-links-social > a:focus {
    color: #e51d37; }

.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.95); }

.nav-mobile {
  height: 75px; }

/* LOADED ARTICLES STYLES - LAYOUT/LOADEDARTICLES */
.loadmore {
  width: 300px;
  font-size: 1.5em;
  font-weight: 600;
  padding: 10px;
  border: 1px grey solid;
  border-radius: 20px;
  outline: none; }
  @media all and (max-width: 61.25em) {
    .loadmore {
      width: 100%; } }

.loadmore:hover {
  background-color: grey;
  color: white; }

.loadmore:focus {
  background-color: #444444;
  color: white;
  outline: none; }

/* RELATED CONTENT STYLES - LAYOUT/RELATEDCONTENT */
.related-content .article-block-title {
  overflow: hidden; }

.related-content img {
  object-fit: cover; }

/* SECTION STYLES - LAYOUT/SECTION */
section {
  margin: 5.3125em 0; }
  section > h2 {
    color: #265ea7;
    margin: 0 0 1.0625em 0;
    font-size: 1.125em;
    font-weight: 600;
    text-transform: uppercase; }

#section-music > .articles-with-ads {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

#section-science-and-tech > .articles-with-ads {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between; }
  #section-science-and-tech > .articles-with-ads .minor-articles-grid {
    display: grid;
    grid-gap: 0.53125em 0.53125em;
    grid-template-columns: repeat(24, 2.65625em);
    grid-template-rows: repeat(10, 2.65625em);
    min-height: 0;
    min-width: 0; }
    #section-science-and-tech > .articles-with-ads .minor-articles-grid figure {
      grid-column-end: span 18;
      grid-column-start: 2;
      grid-row-end: span 12;
      grid-row-start: 1;
      min-width: 0; }
  #section-science-and-tech > .articles-with-ads .advertisement:first-of-type {
    margin-bottom: 3.125em; }

.articles-with-ads > div:not(.minor-articles-grid) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.ad-block-message {
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  z-index: 1000; }
  .ad-block-message > div {
    margin: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    @media all and (max-width: 61.25em) {
      .ad-block-message > div {
        width: 50%; } }
    @media all and (max-width: 30em) {
      .ad-block-message > div {
        width: 70%; } }
    .ad-block-message > div > img {
      width: 100%;
      height: 100%; }
    .ad-block-message > div > button {
      background-color: #e51d37;
      padding: 4px;
      color: white; }
      @media all and (max-width: 61.25em) {
        .ad-block-message > div > button {
          font-size: 0.8em; } }
      .ad-block-message > div > button > svg {
        margin-right: 3px; }

/* ADVERTISEMENT COMPONENT STYLES - COMPONENTS/ADVERTISEMENT */
.advertisement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .advertisement > div {
    background-color: lightgrey; }

@media all and (max-width: 61.25em) {
  .ad-desktop {
    display: none; } }

.ad-mobile {
  display: none; }
  @media all and (max-width: 61.25em) {
    .ad-mobile {
      display: flex; } }

/* ARTICLE BLOCK COMPONENT STYLES - COMPONENTS/ARTICLE */
.article-block {
  margin: 0;
  position: relative;
  overflow: hidden; }
  .article-block > div,
  .article-block > figcaption {
    width: 100%; }
  .article-block > div {
    height: 100%; }
  .article-block > figcaption {
    bottom: 0;
    height: 5.97656em;
    position: absolute;
    z-index: 2; }
    .article-block > figcaption > .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 1em 0; }
      .article-block > figcaption > .container > a {
        color: white;
        font-weight: 600; }

.article-block-image {
  background-repeat: none;
  background-size: cover;
  width: 100%;
  height: 100%; }

.article-block-title {
  color: white;
  font-size: 1.125em;
  font-weight: 700; }

.article-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding-top: 0.125em;
  width: 100%; }
  .article-info p {
    margin: 0; }

.article-block-author,
.article-block-published {
  font-size: 0.875em; }

.article-block-author {
  font-weight: 600 !important;
  margin: 0 0.53125em 0 0;
  text-transform: capitalize; }

.article-block-published {
  margin: 0; }

/* BREADCRUMB COMPONENT STYLES - COMPONENTS/BREADCRUMB */
/* BUTTON COMPONENT STYLES - COMPONENTS/BUTTON */
.btn-menu {
  font-size: 1.125em; }

/* LIGHTBOX COMPONENT STYLES - COMPONENTS/LIGHTBOX */
/* LOADING SCREEN COMPONENT STYLES - COMPONENT/LOADING.SASS */
.loading > .container .fa-spinner,
.loading .fa-spinner {
  color: #e51d37;
  font-size: 1.875em; }

.loading > .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .loading > .container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
    .loading > .container > div > p {
      color: black;
      font-weight: 600;
      margin: 0.53125em 0;
      text-transform: uppercase; }
    .loading > .container > div > h1 {
      font-weight: 500; }

#app > .loading {
  height: 100vh;
  width: 100vw; }

.loading-text {
  color: black;
  font-family: dbkFont; }

.fadeInOut {
  opacity: 1;
  animation: fadeInOut 2s infinite; }

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

.loaded-article-block {
  display: flex;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em; }
  @media all and (max-width: 75em) {
    .loaded-article-block {
      width: 100%; } }
  @media all and (max-width: 61.25em) {
    .loaded-article-block {
      flex-direction: column;
      height: auto; } }
  .loaded-article-block > .loaded-article-details {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 70%;
    padding-left: 1em;
    padding-right: 1em; }
    @media all and (max-width: 61.25em) {
      .loaded-article-block > .loaded-article-details {
        width: 400px; } }
    @media all and (max-width: 30em) {
      .loaded-article-block > .loaded-article-details {
        width: 300px; } }
    .loaded-article-block > .loaded-article-details > span {
      font-size: 0.9em; }
    .loaded-article-block > .loaded-article-details > .loaded-article-author-date {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      font-size: 0.9em; }
      .loaded-article-block > .loaded-article-details > .loaded-article-author-date > * > .author {
        color: #e51d37; }
      .loaded-article-block > .loaded-article-details > .loaded-article-author-date > * > .author:hover {
        color: #265ea7; }
    .loaded-article-block > .loaded-article-details > a > h2 {
      font-size: 1em;
      line-height: 1.6; }
    .loaded-article-block > .loaded-article-details > a > p {
      font-size: 0.9em;
      line-height: 1.6;
      margin-top: 0; }
  .loaded-article-block > .loaded-article-picture {
    width: 200px;
    height: 133px;
    overflow: hidden;
    background-color: #e51d37; }
    .loaded-article-block > .loaded-article-picture > .picture {
      width: 100%;
      height: 100%;
      border-style: solid;
      border-color: #e51d37;
      border-width: 0px 4px 0px 0px;
      object-fit: cover; }
    @media all and (max-width: 61.25em) {
      .loaded-article-block > .loaded-article-picture {
        width: 400px;
        height: 266px; }
        .loaded-article-block > .loaded-article-picture > .picture {
          border-width: 0px 0px 4px 0px; } }
    @media all and (max-width: 30em) {
      .loaded-article-block > .loaded-article-picture {
        width: 300px;
        height: 200px; } }

.loaded-article-block a {
  color: black; }

.loaded-article-block a:hover {
  color: #265ea7 !important; }

/* SEARCHBAR COMPONENT STYLES - COMPONENTS/SEARCHBAR */
.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0 0 0.15625em; }
  .searchbar:hover, .searchbar:active, .searchbar:focus {
    cursor: pointer; }
  .searchbar > i,
  .searchbar > input {
    color: black; }
  .searchbar > i {
    font-size: 0.625em; }
  .searchbar > input {
    font-size: 1em;
    font-weight: 500;
    padding-right: 1.25em; }
    .searchbar > input:hover, .searchbar > input:active, .searchbar > input:focus {
      font-weight: 500; }

.searchbar-mobile > button {
  width: 10% !important; }

.searchbar-mobile > input {
  background-color: transparent;
  width: 90%; }

.sidebar {
  position: absolute;
  z-index: 999;
  left: -100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 0.01562em solid rgba(151, 151, 151, 0.5);
  border-top: none;
  transition: left 0.5s ease-in-out;
  font-size: 0.8em;
  height: 94%; }

.sidebar.open {
  left: 0; }

.sidebar-mobile {
  width: 70%;
  height: 70%; }
  .sidebar-mobile > .search-section {
    width: 100%;
    padding: 50px;
    height: 50px;
    border-bottom: 0.01562em solid rgba(151, 151, 151, 0.5); }

.sidebar-link {
  display: flex;
  align-content: center;
  padding: 10px;
  padding-left: 30px;
  cursor: pointer; }
  .sidebar-link > p {
    text-align: left; }

.sidebar-link:hover {
  background-color: #DDDDDD; }

.sidebar-item {
  overflow: visible;
  border-bottom: 0.01562em solid rgba(151, 151, 151, 0.5); }

.sidebar-item > .sidebar-item {
  display: none; }
  .sidebar-item > .sidebar-item > div {
    width: 100%;
    height: 100%; }

.sidebar-item.active > .sidebar-item {
  display: block;
  background-color: #f1f1f1; }

.sidebar-item.active > .sidebar-link {
  background-color: #CCCCCC !important; }

.sidebar-item.has-children > .sidebar-link > a > p {
  font-weight: 600; }

.sidebar-sticky {
  position: fixed;
  top: 56px;
  bottom: 0;
  height: auto; }

.sidebar-sticky.sidebar-mobile {
  top: 75px;
  bottom: 0;
  height: auto; }

.sidebar a {
  color: black;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase; }

.sidebar button {
  width: 100%; }

#sidekick {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 150px;
  z-index: 10001;
  overflow: hidden; }
  @media all and (max-width: 30em) {
    #sidekick {
      width: 200px;
      height: 120px; } }
  #sidekick > button {
    display: flex;
    right: 0;
    background-color: black;
    color: white;
    padding: 0.2em; }
    #sidekick > button > span {
      margin-left: 0.3em; }

#sidekick img {
  width: 100%;
  height: 100%; }

#takeover {
  width: 100%;
  transition: opacity 0.5s ease-out; }
  #takeover > button {
    position: absolute;
    display: flex;
    right: 0;
    background-color: black;
    color: white;
    padding: 0.2em; }
    #takeover > button > span {
      margin-left: 0.3em; }

#takeover img {
  width: 100%; }

/* ARTICLE PAGE STYLES - PAGES/ARTICLEPAGE.SASS */
.author {
  font-weight: 600; }

.category {
  text-transform: uppercase; }
  .category > a {
    margin-right: 15px; }
  @media all and (max-width: 61.25em) {
    .category {
      font-size: 1em; } }

.details {
  font-size: 1em;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%; }
  @media all and (max-width: 61.25em) {
    .details {
      flex-direction: column; }
      .details > .dot {
        display: none; } }
  .details > span {
    margin-right: 15px; }

.article-text {
  width: 100%;
  line-height: 1.6;
  font-size: 1.1em; }
  .article-text > p {
    margin-bottom: 20px;
    margin-top: 20px; }

.image-area {
  width: 100%; }
  .image-area > .article-image {
    width: 100%;
    max-height: 500px;
    border-bottom: 4px solid #e51d37;
    border-top: 4px solid #e51d37;
    object-fit: cover; }
  @media all and (max-width: 61.25em) {
    .image-area {
      width: 100%; } }

.article-caption {
  font-size: 0.8em; }
  .article-caption > p {
    margin-top: 0; }

h1 {
  width: 100%; }
  @media all and (max-width: 61.25em) {
    h1 {
      font-size: 1.7em; } }

/* AUTHOR PAGE STYLES - PAGES/AUTHORPAGE.SASS */
.author-page h1 {
  font-size: 2.5em;
  text-transform: normal; }
  .author-page h1 > a {
    color: black; }
  .author-page h1 > a:hover {
    color: #265ea7; }
  @media all and (max-width: 61.25em) {
    .author-page h1 {
      font-size: 2em; } }

.author-section {
  display: flex;
  align-items: center; }
  .author-section > .author-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2em; }

/* CATEGORY PAGE STYLES - PAGES/CATEGORYPAGE.SASS */
.category-page h1 {
  font-size: 2.5em;
  text-transform: normal; }
  .category-page h1 > a {
    color: black; }
  .category-page h1 > a:hover {
    color: #265ea7; }
  @media all and (max-width: 61.25em) {
    .category-page h1 {
      font-size: 2em; } }

/* CUSTOM PAGE STYLES - PAGES/CUSTOMPAGE.SASS */
.custom-page h1 {
  font-size: 3em;
  margin-bottom: 0; }
  @media all and (max-width: 48em) {
    .custom-page h1 {
      font-size: 2em; } }

.custom-page #page-content {
  line-height: 1.6;
  font-size: 1.1em; }
  .custom-page #page-content > p {
    margin-bottom: 20px;
    margin-top: 20px; }
  .custom-page #page-content > blockquote {
    font-style: italic; }

/* ERROR PAGE STYLES - PAGES/ERRORPAGE.SASS */
.error-page h1 {
  font-size: 3em; }
  @media all and (max-width: 48em) {
    .error-page h1 {
      font-size: 2em; } }

.error-page p {
  font-size: 1.1em;
  line-height: 1.6; }

/* HOME PAGE STYLES - PAGES/HOME.SASS */
.homepage {
  width: 100%;
  height: 100%; }

/* CATEGORY PAGE STYLES - PAGES/CATEGORYPAGE.SASS */
.search-results h1 {
  overflow-wrap: anywhere; }

svg:not(:root).svg-inline--fa {
  overflow: visible; }

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em; }
  .svg-inline--fa.fa-lg {
    vertical-align: -.225em; }
  .svg-inline--fa.fa-w-1 {
    width: 0.0625em; }
  .svg-inline--fa.fa-w-2 {
    width: 0.125em; }
  .svg-inline--fa.fa-w-3 {
    width: 0.1875em; }
  .svg-inline--fa.fa-w-4 {
    width: 0.25em; }
  .svg-inline--fa.fa-w-5 {
    width: 0.3125em; }
  .svg-inline--fa.fa-w-6 {
    width: 0.375em; }
  .svg-inline--fa.fa-w-7 {
    width: 0.4375em; }
  .svg-inline--fa.fa-w-8 {
    width: 0.5em; }
  .svg-inline--fa.fa-w-9 {
    width: 0.5625em; }
  .svg-inline--fa.fa-w-10 {
    width: 0.625em; }
  .svg-inline--fa.fa-w-11 {
    width: 0.6875em; }
  .svg-inline--fa.fa-w-12 {
    width: 0.75em; }
  .svg-inline--fa.fa-w-13 {
    width: 0.8125em; }
  .svg-inline--fa.fa-w-14 {
    width: 0.875em; }
  .svg-inline--fa.fa-w-15 {
    width: 0.9375em; }
  .svg-inline--fa.fa-w-16 {
    width: 1em; }
  .svg-inline--fa.fa-w-17 {
    width: 1.0625em; }
  .svg-inline--fa.fa-w-18 {
    width: 1.125em; }
  .svg-inline--fa.fa-w-19 {
    width: 1.1875em; }
  .svg-inline--fa.fa-w-20 {
    width: 1.25em; }
  .svg-inline--fa.fa-pull-left {
    margin-right: .3em;
    width: auto; }
  .svg-inline--fa.fa-pull-right {
    margin-left: .3em;
    width: auto; }
  .svg-inline--fa.fa-border {
    height: 1.5em; }
  .svg-inline--fa.fa-li {
    width: 2em; }
  .svg-inline--fa.fa-fw {
    width: 1.25em; }

.fa-layers svg.svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0; }

.fa-layers {
  display: inline-block;
  height: 1em;
  position: relative;
  text-align: center;
  vertical-align: -.125em;
  width: 1em; }
  .fa-layers svg.svg-inline--fa {
    -webkit-transform-origin: center center;
            transform-origin: center center; }

.fa-layers-text, .fa-layers-counter {
  display: inline-block;
  position: absolute;
  text-align: center; }

.fa-layers-text {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center; }

.fa-layers-counter {
  background-color: #ff253a;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  height: 1.5em;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: .25em;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.fa-layers-bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right; }

.fa-layers-bottom-left {
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left; }

.fa-layers-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.fa-layers-top-left {
  left: 0;
  right: auto;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top left;
          transform-origin: top left; }

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -.0667em; }

.fa-xs {
  font-size: .75em; }

.fa-sm {
  font-size: .875em; }

.fa-1x {
  font-size: 1em; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-6x {
  font-size: 6em; }

.fa-7x {
  font-size: 7em; }

.fa-8x {
  font-size: 8em; }

.fa-9x {
  font-size: 9em; }

.fa-10x {
  font-size: 10em; }

.fa-fw {
  text-align: center;
  width: 1.25em; }

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit; }

.fa-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1); }

.fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none; }

.fa-stack {
  display: inline-block;
  height: 2em;
  position: relative;
  width: 2.5em; }

.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0; }

.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1.25em; }

.svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2.5em; }

.fa-inverse {
  color: #fff; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }


/*# sourceMappingURL=styles.chunk.css.map*/