*
  +transition(ease-in-out, 0.375s)

  font-family: $font-stack

*,
html
  box-sizing: border-box
  scroll-behavior: smooth
  text-rendering: optimizeLegibility

html
  overflow-x: hidden

html,
body
  color: $dark
  margin: 0

a,
button
  +hocus
    cursor: pointer

a
  color: $accent-med
  text-decoration: none

  +hocus
    color: $accent-dark

button,
input
  border: none
  outline: none
  padding: 0

button
  background-color: transparent
