/* ARTICLE PAGE STYLES - PAGES/ARTICLEPAGE.SASS
$content-width: 70%

.author
    font-weight: 600

.category
    text-transform: uppercase
    display: flex
    flex-direction: row
    margin-top: 10px
    > a
        margin-right: 15px
        background-color: rgba($accent-med, 0.85)
        padding: 10px
        font-size: 1em
        font-weight: 600
        color: white
        display: flex
        align-items: center
    > a:hover
        background-color: rgba($accent-med, 0.3)
        color: $accent-med

    +respond-to(medium)
        font-size: 0.7em
        padding-top: 5px


.details
    font-size: 1em
    margin-bottom: 20px

    +flex(row, flex-start, flex-start)
    width: 100%
    +respond-to(medium)
        flex-direction: column
        > .dot
            display: none
    > span
        margin-right: 10px

    > .twitter-link > a
        color: #1DA1F2
    > .twitter-link > a:hover
        color: $accent-dark
    

.article-text
    display: flex
    flex-direction: column
    width: 100%
    line-height: 1.6
    font-size: 1.1em
    > p
        display: flex
        flex-direction: column
        margin-bottom: 20px
        margin-top: 20px
    > .wp-caption
        max-width: 100% !important
        > img
            max-width: 100%
            height: auto
        > p
            margin-top: 0px
            font-style: italic
            font-size: 0.8em
    
    > img
        max-width: 100% !important
        max-height: 100% !important

    > .aligncenter
        align-self: center
    > .alignleft
        align-self: left
    > .alignright
        align-self: end 

    > ul
        list-style-position: inside
    > ol
        list-style-position: inside

    > blockquote 
        > *
            font-style: italic
            color: #555555
    
    
    
        
.image-area
    width: 100%
    > .article-image
        width: 100%
        max-height: 500px
        border-bottom: 4px solid $accent-med
        border-top: 4px solid $accent-med
        object-fit: cover
    +respond-to(medium)
        width: 100%
    
.article-caption
    font-size: 0.8em
    > p
        margin-top: 0
h1
    width: 100%
    +respond-to(medium)
        font-size: 1.7em