.custom-page h1
  font-size: 3em
  margin-bottom: 0

  +respond-to($breakpoint-schmedium)
    font-size: 2em

.custom-page #page-content
  line-height: 1.6
  font-size: 1.1em

  > p
    margin-bottom: 20px
    margin-top: 20px

    > *
      max-width: 100%
      height: auto

  > blockquote
    font-style: italic

  > *
    max-width: 100%
    height: auto
