/* HOME PAGE STYLES - PAGES/HOME.SASS

.homepage
  width: 100%
  height: 100%
  & .articles
    margin-bottom: 50px

.homepage-bottom
  width: 100%
  display: flex
  flex-direction: column
  & .articles
    +respond-to(medium)
      margin-bottom: 20px

.featured-story-area
  display: flex
  margin-bottom: 100px
  > .articles
    // width: 450px
    margin-left: 20px
    & .article-block-title
      font-size: 0.95vw
    & .article-block-author
      font-size: 0.75vw
    & .article-block-published
      font-size: 0.75vw
    +respond-to(large)
      display: none
  +respond-to(medium)
    // height: 500px
    margin-bottom: 50px

.ad-row
  display: flex
  flex-direction: row
  justify-content: center
  > *
    margin-left: 5px
    margin-right: 5px

.homepage-row
  display: flex
  flex-direction: row
  justify-content: space-between
  margin-bottom: 20px
  > *
    margin-left: 10px
    margin-right: 10px
    flex-basis: 0
    flex-grow: 1
  +respond-to(medium)
    flex-direction: column
    > *
      margin-left: 0px
      margin-right: 0px    
      flex-basis: auto









